# Downloading Market and Fundamental Data with `yfinance`

## Imports & Settings

In [5]:
import warnings
warnings.filterwarnings('ignore')

In [6]:
import pandas as pd
import yfinance as yf

## How to work with a Ticker object

In [7]:
symbol = 'FB'
ticker = yf.Ticker(symbol)

### Show ticker info

In [8]:
pd.Series(ticker.info).head(20)

quoteType                                           NONE
symbol                                                FB
underlyingSymbol                                      FB
uuid                30781f1f-c2f9-342c-ab1a-d2f6f35a51db
maxAge                                             86400
trailingPegRatio                                    None
dtype: object

### Get market data

In [9]:
data = ticker.history(period='5d',
                      interval='1m',
                      start=None,
                      end=None,
                      actions=True,
                      auto_adjust=True,
                      back_adjust=False)
data.info()

FB: No data found, symbol may be delisted

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       0 non-null      float64
 1   High       0 non-null      float64
 2   Low        0 non-null      float64
 3   Close      0 non-null      float64
 4   Adj Close  0 non-null      float64
 5   Volume     0 non-null      float64
dtypes: float64(6)
memory usage: 0.0+ bytes

### View company actions

In [10]:
# show actions (dividends, splits)
ticker.actions

$FB: possibly delisted; No timezone found

Series([], dtype: float64)

In [11]:
ticker.dividends

$FB: possibly delisted; No timezone found

Series([], dtype: float64)

In [12]:
ticker.splits

$FB: possibly delisted; No timezone found

Series([], dtype: float64)

### Annual and Quarterly Financial Statement Summary

In [13]:
ticker.financials

Empty DataFrame
Columns: []
Index: []

In [14]:
ticker.quarterly_financials

Empty DataFrame
Columns: []
Index: []

### Annual and Quarterly Balance Sheet

In [15]:
ticker.balance_sheet

Empty DataFrame
Columns: []
Index: []

In [16]:
ticker.quarterly_balance_sheet

Empty DataFrame
Columns: []
Index: []

### Annual and Quarterly Cashflow Statement

In [17]:
ticker.cashflow

Empty DataFrame
Columns: []
Index: []

In [18]:
ticker.quarterly_cashflow

Empty DataFrame
Columns: []
Index: []

In [19]:
ticker.earnings

In [20]:
ticker.quarterly_earnings

### Sustainability: Environmental, Social and Governance (ESG)

In [21]:
ticker.sustainability

404 Client Error: Not Found for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/FB?modules=esgScores&corsDomain=finance.yahoo.com&formatted=false&symbol=FB&crumb=RwDVGa4Cp3a

Empty DataFrame
Columns: []
Index: []

### Analyst Recommendations

In [22]:
ticker.recommendations.info()

404 Client Error: Not Found for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/FB?modules=recommendationTrend&corsDomain=finance.yahoo.com&formatted=false&symbol=FB&crumb=RwDVGa4Cp3a

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Empty DataFrame

In [23]:
ticker.recommendations.tail(10)

Empty DataFrame
Columns: []
Index: []

### Upcoming Events

In [24]:
ticker.calendar

404 Client Error: Not Found for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/FB?modules=calendarEvents&corsDomain=finance.yahoo.com&formatted=false&symbol=FB&crumb=RwDVGa4Cp3a

{}

### Option Expiration Dates

In [25]:
ticker.options

('2026-02-21',)

In [26]:
expiration = ticker.options[0]

In [27]:
options = ticker.option_chain(expiration)

In [28]:
options.calls.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   contractSymbol     0 non-null      float64
 1   lastTradeDate      0 non-null      datetime64[ns, UTC]
 2   strike             0 non-null      float64
 3   lastPrice          0 non-null      float64
 4   bid                0 non-null      float64
 5   ask                0 non-null      float64
 6   change             0 non-null      float64
 7   percentChange      0 non-null      float64
 8   volume             0 non-null      float64
 9   openInterest       0 non-null      float64
 10  impliedVolatility  0 non-null      float64
 11  inTheMoney         0 non-null      float64
 12  contractSize       0 non-null      float64
 13  currency           0 non-null      float64
dtypes: datetime64[ns, UTC](1), float64(13)
memory usage: 0.0+ bytes

In [29]:
options.calls.head()

Empty DataFrame
Columns: [contractSymbol, lastTradeDate, strike, lastPrice, bid, ask, change, percentChange, volume, openInterest, impliedVolatility, inTheMoney, contractSize, currency]
Index: []

In [30]:
options.puts.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   contractSymbol     0 non-null      float64
 1   lastTradeDate      0 non-null      datetime64[ns, UTC]
 2   strike             0 non-null      float64
 3   lastPrice          0 non-null      float64
 4   bid                0 non-null      float64
 5   ask                0 non-null      float64
 6   change             0 non-null      float64
 7   percentChange      0 non-null      float64
 8   volume             0 non-null      float64
 9   openInterest       0 non-null      float64
 10  impliedVolatility  0 non-null      float64
 11  inTheMoney         0 non-null      float64
 12  contractSize       0 non-null      float64
 13  currency           0 non-null      float64
dtypes: datetime64[ns, UTC](1), float64(13)
memory usage: 0.0+ bytes

## Data Download with proxy server

You can use a proxy server to avoid having your IP blacklisted as illustrated below (but need an actual PROXY_SERVER).

In [31]:
PROXY_SERVER = 'PROXY_SERVER'

The following will only work with proper PROXY_SERVER...

In [32]:
# msft = yf.Ticker("MSFT")

# msft.history(proxy=PROXY_SERVER)
# msft.get_actions(proxy=PROXY_SERVER)
# msft.get_dividends(proxy=PROXY_SERVER)
# msft.get_splits(proxy=PROXY_SERVER)
# msft.get_balance_sheet(proxy=PROXY_SERVER)
# msft.get_cashflow(proxy=PROXY_SERVER)
# msft.option_chain(proxy=PROXY_SERVER)

## Downloading multiple symbols

In [33]:
tickers = yf.Tickers('msft aapl goog')

In [34]:
tickers

yfinance.Tickers object <MSFT,AAPL,GOOG>

In [35]:
pd.Series(tickers.tickers['MSFT'].info)

address1             One Microsoft Way
city                           Redmond
state                               WA
zip                         98052-6399
country                  United States
                           ...
grossMargins                   0.69764
ebitdaMargins                  0.52804
operatingMargins               0.43143
financialCurrency                  USD
trailingPegRatio                2.2084
Length: 132, dtype: object

In [36]:
tickers.tickers['AAPL'].history(period="1mo")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-08-05 00:00:00-04:00,198.859822,213.253166,195.773398,209.028061,119548600,0.00,0.0
2024-08-06 00:00:00-04:00,205.062641,209.747221,200.837536,206.990402,69660500,0.00,0.0
2024-08-07 00:00:00-04:00,206.660786,213.392999,206.151381,209.577423,63516400,0.00,0.0
2024-08-08 00:00:00-04:00,212.863619,213.952355,208.588569,213.063385,47161100,0.00,0.0
2024-08-09 00:00:00-04:00,211.854792,216.529374,211.724938,215.990005,42201600,0.00,0.0
2024-08-12 00:00:00-04:00,216.070007,219.509995,215.600006,217.529999,38028100,0.25,0.0
2024-08-13 00:00:00-04:00,219.009995,221.889999,219.009995,221.270004,44155300,0.00,0.0
2024-08-14 00:00:00-04:00,220.570007,223.029999,219.699997,221.720001,41960600,0.00,0.0
2024-08-15 00:00:00-04:00,224.600006,225.350006,222.759995,224.720001,46414000,0.00,0.0
2024-08-16 00:00:00-04:00,223.919998,226.830002,223.649994,226.050003,44340200,0.00,0.0
2024-08-19 00:00:00-04:00,225.720001,225.990005,223.039993,225.889999,40687800,0.00,0.0
2024-08-20 00:00:00-04:00,225.770004,227.169998,225.449997,226.509995,30299000,0.00,0.0
2024-08-21 00:00:00-04:00,226.520004,227.979996,225.050003,226.399994,34765500,0.00,0.0
2024-08-22 00:00:00-04:00,227.789993,228.339996,223.899994,224.529999,43695300,0.00,0.0
2024-08-23 00:00:00-04:00,225.660004,228.220001,224.330002,226.839996,38677300,0.00,0.0
2024-08-26 00:00:00-04:00,226.759995,227.279999,223.889999,227.179993,30602200,0.00,0.0
2024-08-27 00:00:00-04:00,226.000000,228.850006,224.889999,228.029999,35934600,0.00,0.0
2024-08-28 00:00:00-04:00,227.919998,229.860001,225.679993,226.490005,38052200,0.00,0.0
2024-08-29 00:00:00-04:00,230.100006,232.919998,228.880005,229.789993,51906300,0.00,0.0
2024-08-30 00:00:00-04:00,230.190002,230.399994,227.479996,229.000000,52990800,0.00,0.0
2024-09-03 00:00:00-04:00,228.550003,229.000000,221.169998,222.770004,50042900,0.00,0.0
2024-09-04 00:00:00-04:00,221.660004,221.755005,217.574997,217.800003,12122085,0.00,0.0

In [37]:
tickers.history(period='1mo').stack(-1)

[*********************100%%**********************]  3 of 3 completed

Price                   Close  Dividends        High         Low        Open  \
Date       Ticker
2024-08-05 AAPL    209.028061        0.0  213.253166  195.773398  198.859822
           GOOG    160.639999        0.0  165.940002  156.600006  157.369995
           MSFT    394.439056        0.0  400.318474  384.886267  388.469835
2024-08-06 AAPL    206.990402        0.0  209.747221  200.837536  205.062641
           GOOG    160.539993        0.0  162.350006  158.130005  160.945007
...                       ...        ...         ...         ...         ...
2024-09-03 GOOG    158.610001        0.0  163.380005  157.854996  163.315002
           MSFT    409.440002        0.0  419.880005  407.029999  417.910004
2024-09-04 AAPL    217.800003        0.0  221.755005  217.574997  221.660004
           GOOG    158.910004        0.0  160.399994  157.960007  158.089996
           MSFT    407.329987        0.0  407.890015  404.369995  405.630005

Price              Stock Splits     Volume
Date       Ticker
2024-08-05 AAPL             0.0  119548600
           GOOG             0.0   34907800
           MSFT             0.0   40709200
2024-08-06 AAPL             0.0   69660500
           GOOG             0.0   36146500
...                         ...        ...
2024-09-03 GOOG             0.0   26508900
           MSFT             0.0   20285900
2024-09-04 AAPL             0.0   12144671
           GOOG             0.0    4216741
           MSFT             0.0    3325775

[66 rows x 7 columns]

In [38]:
data = yf.download("SPY AAPL", start="2020-01-01", end="2020-01-05")

[*********************100%%**********************]  2 of 2 completed

In [39]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2 entries, 2020-01-02 to 2020-01-03
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Adj Close, AAPL)  2 non-null      float64
 1   (Adj Close, SPY)   2 non-null      float64
 2   (Close, AAPL)      2 non-null      float64
 3   (Close, SPY)       2 non-null      float64
 4   (High, AAPL)       2 non-null      float64
 5   (High, SPY)        2 non-null      float64
 6   (Low, AAPL)        2 non-null      float64
 7   (Low, SPY)         2 non-null      float64
 8   (Open, AAPL)       2 non-null      float64
 9   (Open, SPY)        2 non-null      float64
 10  (Volume, AAPL)     2 non-null      int64
 11  (Volume, SPY)      2 non-null      int64
dtypes: float64(10), int64(2)
memory usage: 208.0 bytes

In [40]:
data = yf.download(
        tickers = "SPY AAPL MSFT", # list or string

        # use "period" instead of start/end
        # valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
        # (optional, default is '1mo')
        period = "5d",

        # fetch data by interval (including intraday if period < 60 days)
        # valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
        # (optional, default is '1d')
        interval = "1m",

        # group by ticker (to access via data['SPY'])
        # (optional, default is 'column')
        group_by = 'ticker',

        # adjust all OHLC automatically
        # (optional, default is False)
        auto_adjust = True,

        # download pre/post regular market hours data
        # (optional, default is False)
        prepost = True,

        # use threads for mass downloading? (True/False/Integer)
        # (optional, default is True)
        threads = True,

        # proxy URL scheme use use when downloading?
        # (optional, default is None)
        proxy = None
    )

[*********************100%%**********************]  3 of 3 completed

In [41]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4210 entries, 2024-08-28 04:00:00-04:00 to 2024-09-04 10:21:00-04:00
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   (SPY, Open)     4114 non-null   float64
 1   (SPY, High)     4114 non-null   float64
 2   (SPY, Low)      4114 non-null   float64
 3   (SPY, Close)    4114 non-null   float64
 4   (SPY, Volume)   4114 non-null   float64
 5   (MSFT, Open)    3741 non-null   float64
 6   (MSFT, High)    3741 non-null   float64
 7   (MSFT, Low)     3741 non-null   float64
 8   (MSFT, Close)   3741 non-null   float64
 9   (MSFT, Volume)  3741 non-null   float64
 10  (AAPL, Open)    3859 non-null   float64
 11  (AAPL, High)    3859 non-null   float64
 12  (AAPL, Low)     3859 non-null   float64
 13  (AAPL, Close)   3859 non-null   float64
 14  (AAPL, Volume)  3859 non-null   float64
dtypes: float64(15)
memory usage: 526.2 KB

In [42]:
from pandas_datareader import data as pdr

import yfinance as yf
yf.pdr_override()

# download dataframe
data = pdr.get_data_yahoo('SPY',
                          start='2017-01-01',
                          end='2019-04-30',
                          auto_adjust=False)

AttributeError: module 'yfinance' has no attribute 'pdr_override'

In [ ]:
# auto_adjust = True
data.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-04-23,290.679993,293.140015,290.420013,292.880005,283.410553,52246600
2019-04-24,292.790009,293.160004,292.070007,292.230011,282.781616,50392900
2019-04-25,292.119995,292.779999,290.730011,292.049988,282.607452,57770900
2019-04-26,292.100006,293.489990,291.239990,293.410004,283.923462,50916400
2019-04-29,293.510010,294.450012,293.410004,293.869995,284.368561,57197700

In [ ]:
# auto_adjust = False
data.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-04-23,290.679993,293.140015,290.420013,292.880005,283.410553,52246600
2019-04-24,292.790009,293.160004,292.070007,292.230011,282.781616,50392900
2019-04-25,292.119995,292.779999,290.730011,292.049988,282.607452,57770900
2019-04-26,292.100006,293.489990,291.239990,293.410004,283.923462,50916400
2019-04-29,293.510010,294.450012,293.410004,293.869995,284.368561,57197700